
<div id="box">
  <% @contacts.each do |contact| %>
    
    <div class="person">
      <%if !@team.contact_teams.where(contact_id: contact).present? %>
        <%=link_to("", join_team_path(@team.id, contact), method: :post, class: "btn btn-danger btn-lg glyphicon glyphicon-remove")%> 
      <% else %>
        <%=link_to("", quit_team_path(@team.id, contact), method: :post,class: "btn btn-success btn-lg glyphicon glyphicon-ok")%>
      <% end %>
      
      <p><%= contact.name %></p>

    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @contacts,:previous_label => '←上一頁', :next_label => '下一頁→', renderer: BootstrapPagination::Rails  %>
</div>
