<footer class="container" style="margin-top: 20px;">
  <p class="text-center">
    Copyright ©2014 青蟲關懷系統 <br>
    Design by <a href="http://www.facebook.com/HEROGWP" target=_new>HEROGWP</a>
  </p>
</footer>